page-linedetail {

    ion-label{
        white-space: inherit;
    }

    .input-wrapper{
        border-left: 2px solid black; 
    }

    .circle{
        position: fixed;
        border: 2px solid black;
        float:left;
        //top: 3vh;
        //left:2vh;
        width: 12px;
        height: 12px;
        margin-left: -19.7px;
        margin-top: 4px;
        border-radius: 50%;

        background-color: white;
    }

    .active{
        background-color: black;
    }

    .label-md{
        margin-left: 13px;
    }

}
